<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-sm-12 col-xs-12 padding0">
        <div class="banner" auto-height>
          <img ng-src="{{banner.banner | serverimage}}">
          <div class="head-font text-center">
            <h1>CLIENTS</h1>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 padding0">
        <div class="bg-color mob mobiles noautoheight" auto-height>
          <div class="logo position-center">
            <div class="img-client" ng-repeat="row in clients">
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6" ng-repeat="client in row">
                  <div class="logo-client">
                    <img ng-src="{{client.logo | serverimage}}" class="img-responsive">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
